body {
    background-color: rgb(163, 241, 255) !important;
}

.navbar {
    background-color: rgb(88, 202, 255) !important;
    border-radius: 0 0 40% 40%;
    color: white !important;
}

.navbar-toggler {
    position: fixed;
    right: 0;
    top: 1vh;
}

.nav-link, .navbar-brand {
    color: white !important;
    text-align: center !important;
    background-color: rgb(13, 179, 221) !important;
    border-radius: 20px !important;
    transition: all 200ms !important;
    padding: 2vh;
}


.nav-link:hover, .navbar-brand:hover {
    background-color: #ffffff44 !important;
}

@media (max-width: 992px) {
    .navbar {
        border-radius: 0 0 0 40% !important;
    }
}

.jumbotron {
    background-color: rgb(122, 213, 255);
    border-radius: 30vw;
    padding: 2%;
    margin: 3vh 2vw 0;
    text-align: center;
}

.card-group {
    gap: 5% !important;
}

.card {
    padding: 10% !important;
    background-color: #61cafb !important;
    border-radius: 20px !important;
    transition: all 500ms !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
}

@keyframes hover-animation {
    10% {background: linear-gradient(45deg,rgba(97, 202, 251, 1) 0%, rgba(255, 255, 255, 0.4) 0%, rgba(97, 202, 251, 1) 100%);}
    20% {background: linear-gradient(45deg,rgba(97, 202, 251, 1) 0%, rgba(255, 255, 255, 0.6) 20%, rgba(97, 202, 251, 1) 100%);}
    30% {background: linear-gradient(45deg,rgba(97, 202, 251, 1) 0%, rgba(255, 255, 255, 0.6) 40%, rgba(97, 202, 251, 1) 100%);}
    40% {background: linear-gradient(45deg,rgba(97, 202, 251, 1) 0%, rgba(255, 255, 255, 0.8) 60%, rgba(97, 202, 251, 1) 100%);}
    50% {background: linear-gradient(45deg,rgba(97, 202, 251, 1) 0%, rgba(255, 255, 255, 1) 80%, rgba(97, 202, 251, 1) 100%);}
    60% {background: linear-gradient(45deg,rgba(97, 202, 251, 1) 0%, rgba(255, 255, 255, 0.8) 100%, rgba(97, 202, 251, 1) 100%);}
    70% {background: linear-gradient(45deg,rgba(97, 202, 251, 1) 0%, rgba(255, 255, 255, 0.6) 100%, rgba(97, 202, 251, 1) 100%);}
    80% {background: linear-gradient(45deg,rgba(97, 202, 251, 1) 0%, rgba(255, 255, 255, 0.4) 100%, rgba(97, 202, 251, 1) 100%);}
    90% {background: linear-gradient(45deg,rgba(97, 202, 251, 1) 0%, rgba(255, 255, 255, 0.2) 100%, rgba(97, 202, 251, 1) 100%);}
    100% {background: rgba(97, 202, 251, 1);}
}

.card:hover {
    transform: scale(1.05) !important;
    animation-name: hover-animation;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

.autos {
    text-align: center;
    margin: 8vh auto 0;
    width: 60vw;
    min-width: 300px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: rgba(225, 225, 225, 0.752) !important;
    padding: 1.5vw !important;
    border-radius: 50% !important;
}

.carousel-inner {
    border-radius: 4vh !important;
}

.carousel-caption {
    color:black !important;
    color: rgb(163, 241, 255) !important;
    background-color: rgba(0, 0, 0, 0.468) !important;
    border-radius: 20px !important;
    padding: 2vh !important;
}

#adivinar {
    margin-bottom: 10vh;
}

.adivinar {
    background-color: rgb(122, 213, 255);
    border-radius: 50px;
    padding: 6vh;
    
}

.numero {
    width: 90px !important;
    text-align: center !important;
}
.btnadivinar {
    font-size: 120% !important;
    background-color: #5db9d7e3 !important;
    border-radius: 20px !important;
    margin: 1% !important;
}

.btnadivinar:hover {
    background-color: #ffffff4e !important;
}

.calculadora {
    text-align: center;
    padding: 3vh;
    width: 40vh;
    height: fit-content;
    margin: auto;
    background-color: rgb(122, 213, 255);
    border-radius: 50px;
}

.btnscalc {
    display: flex;
    justify-content: center;
}

.btncalc {
    font-size: 3vh !important;
    width: 8vh !important;
    height: fit-content !important;
    background-color: #5db9d7e3 !important;
    border-radius: 100vw !important;
    margin: 1% !important;
}

.btncalc:hover {
    background-color: #ffffff7c !important;
}

footer {
    display: flex;
    gap: 40%;
    justify-content: center;
    align-items: center;
    background-color: rgb(122, 213, 255);
    height: 16vh;
    width: 100%;
    border-radius: 25% 25% 0 0;
    margin-top: 8vh;
    padding: 4vh 20%;
}

.redes {
    height: 10vh;
}